<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Off">

	<variable name="exceptionLogStashLayout" value="${when:when=('${level}' == 'Error'):inner= ${exception:format=ToString}}"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target
				name="Logstash"
				xsi:type="File"
				fileName=".\logs\Logstash.log"
				archiveFileName =".\logs\Logstash.{#}.log">
			<layout xsi:type="JsonLayout">
				<attribute name="datetime" layout="${date:format=o}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="corellationId" layout="${correlationId}" />
				<attribute name="exception" layout="${exceptionLogStashLayout}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="Logstash" />
	</rules>

</nlog>

